/* 
Container usado para separar o menu da 
tabela nas paginas 7,8,9,10
 */

.admin-grid{
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 28px;
    align-items: stretch;
}

/* 
Container onde fica o conteudo da area administrativa
*/
.admin-grid__content {
    display: flex;
    gap: 30px;
    flex-direction: column;
}