.button {
  padding: 10px 18px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #07311b;
  cursor: pointer;
}

.button--primary{
  background-color: #0f766e;
  color: #ffffff;
}

.button--outline {
  background-color: #ffffff;
  color: #3f8d71;
  border-color: #3f8d71;
}