.footer {
    border-top: 1px solid #e5e7eb;
    padding: 16px;
}

.footer__tags {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
}

.footer__tag {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 12px 28px;
    font-size:14px;
    font-weight: 600;
    flex: 1 1 10px;
    text-align:left
}

.footer__copyrigth {
    margin: 20px auto 0;
    font-size: 13px;
    color: #9ca3af;
}